<div class="section">
  <div class="row">
    <div class="col s12 l4 card-wrapper">
      <div class="card custom">
        <div class="card-content valign-wrapper">
          <div class="content valign">{{event.playersPerMatch}}</div>
        </div>
        <div class="card-action light">Number of players per match</div>
      </div>
    </div>
    <div class="col s12 l4 card-wrapper">
      <div class="card custom">
        <div class="card-content valign-wrapper">
          <div class="content valign">{{event.matchesPerPlayer}}</div>
        </div>
        <div class="card-action light">Number of matches per player</div>
      </div>
    </div>
    <div class="col s12 l4 card-wrapper">
      <div class="card custom">
        <div class="card-content valign-wrapper">
          <div class="content valign">
            {{event.timeslotsPerMatch}}
          </div>
        </div>
        <div class="card-action light">Match duration
          <div>
            <small>number of timeslots per match</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="teams" class="section with-header" ng-show="event.teams">
  <div class="row">
    <div class="header-wrapper center">
      <h4 class="brown-text icon-wrapper">
        <i class="material-icons icon">people</i>
      </h4>
      <h4 class="header">Teams</h4>
    </div>
    <div class="content-wrapper">
      <div class="row lead">
        <div class="col s12 center grey-text light counter">
          <strong>{{event.teams.length}} teams</strong> of {{event.playersPerTeam}} players
        </div>
        <div class="col s12 center grey-text light counter">
          <small>{{event.players.length - event.teams.length * event.playersPerTeam}} players unassigned</small>
        </div>
      </div>
      <div class="row content">
        <div class="col l6 s12 center light item team" ng-repeat="team in event.teams track by $index">
          <div class="name grey-text text-darken-1"><strong>{{team.name}}</strong></div>
          <ul class="players collection">
            <li class="li collection-item" ng-repeat="playerIndex in team.players">{{getPlayer(playerIndex).name}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="assigned-and-unavailable-timeslots" class="section with-header timetable"
     ng-show="event.unavailablePlayers || event.playersAtTimeslots">
  <div class="row">
    <div class="header-wrapper center">
      <h4 class="brown-text icon-wrapper">
        <i class="material-icons icon">watch</i>
      </h4>
      <h4 class="header">Players' assigned & unavailable timeslots</h4>
    </div>
    <div class="content-wrapper">
      <div class="row content">
        <table class="responsive-table">
          <thead>
          <tr>
            <th colspan="1"></th>
            <th class="theader" ng-repeat="timeslot in timeslots">{{getTimeslotDisplay($index)}}</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="player in players track by $index">
            <td class="theader player">{{player.name}}</td>
            <td ng-repeat="timeslot in timeslots track by $index">
              <div class="slot" ng-class="{'unavailable':isPlayerUnavailable($parent.$index, $index),
                              'assigned':isTimeslotAssigned($parent.$index, $index), 'break':isBreak($index)}"></div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="legend">
        <div class="row">
          <div class="col s12 m4 item unavailable">
            <div class="color"></div>
            <small class="light description">Player unavailable at timeslot</small>
          </div>
          <div class="col s12 m4 item assigned">
            <div class="color"></div>
            <small class="light description">Player assigned to timeslot</small>
          </div>
          <div class="col s12 m4 item break">
            <div class="color"></div>
            <small class="light description">Break</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="unavailable-venues" class="section with-header timetable" ng-show="event.unavailableLocalizations">
  <div class="row">
    <div class="header-wrapper center">
      <h4 class="brown-text icon-wrapper">
        <i class="material-icons icon">location_off</i>
      </h4>
      <h4 class="header">Venues' unavailable timeslots</h4>
    </div>
    <div class="content-wrapper">
      <div class="row content">
        <table class="responsive-table">
          <thead>
          <tr>
            <th colspan="1"></th>
            <th class="theader" ng-repeat="timeslot in timeslots">{{getTimeslotDisplay($index)}}</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="venue in venues track by $index">
            <td class="theader other">{{venue.name}}</td>
            <td ng-repeat="timeslot in timeslots track by $index">
              <div class="slot"
                   ng-class="{'unavailable':isVenueUnavailable($parent.$index, $index), 'break':isBreak($index)}"></div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="legend">
        <div class="row">
          <div class="col s12 m6 item unavailable">
            <div class="color"></div>
            <small class="light description">Venue unavailable at timeslot</small>
          </div>
          <div class="col s12 m6 item break">
            <div class="color"></div>
            <small class="light description">Break</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="assigned-venues" class="section with-header timetable" ng-show="event.playersInLocalizations">
  <div class="row">
    <div class="header-wrapper center">
      <h4 class="brown-text icon-wrapper">
        <i class="material-icons icon">pin_drop</i>
      </h4>
      <h4 class="header">Players' assigned venues</h4>
    </div>
    <div class="content-wrapper">
      <div class="row content">
        <table class="responsive-table">
          <thead>
          <tr>
            <th colspan="1"></th>
            <th class="theader" ng-repeat="venue in venues track by $index">{{venue.name}}</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="player in players track by $index">
            <td class="theader other">{{player.name}}</td>
            <td ng-repeat="venue in venues track by $index">
              <div class="slot"
                   ng-class="{'assigned':isVenueAssigned($parent.$index, $index)}"></div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div id="matchups" class="section with-header" ng-show="event.predefinedMatchups">
  <div class="row">
    <div class="header-wrapper center">
      <h4 class="brown-text icon-wrapper">
        <i class="material-icons icon">assignment</i>
      </h4>
      <h4 class="header">Predefined match-ups</h4>
    </div>
    <div class="content-wrapper">
      <div class="row">
        <div class="col s12 center grey-text light counter">
          {{event.predefinedMatchups.length}}
          <ng-pluralize count="event.predefinedMatchups.length"
                        when="{'1':'match-up','other':'match-ups'}"></ng-pluralize>
        </div>
        <div class="col s12 center grey-text light counter matchup-mode" ng-show="isMatchupModeRelevant()">
          Matchup mode &ndash; <span class="value">{{getMatchupMode()}}</span>
        </div>
      </div>
      <div class="matchups-wrapper row">
        <div class="col s12 center matchup" ng-repeat="matchup in event.predefinedMatchups track by $index">
          <div class="title-wrapper blue lighten-2">
            <h5 class="header title">Match-up {{$index + 1}}</h5>
          </div>
          <div class="content row indigo lighten-5">
            <div class="col s12 m4">
              <h5 class="subtitle">Players</h5>
              <ul>
                <li class="light" ng-repeat="player in matchup.players | orderBy">{{getPlayer(player).name}}</li>
              </ul>
            </div>
            <div class="col s12 m4">
              <h5 class="subtitle">Venue</h5>
              <h6 class="comment grey-text">Any of:</h6>
              <ul>
                <li class="light" ng-repeat="venue in matchup.localizations | orderBy">{{getVenue(venue).name}}</li>
              </ul>
            </div>
            <div class="col s12 m4">
              <h5 class="subtitle">Start</h5>
              <h6 class="comment grey-text light">Any of:</h6>
              <ul>
                <li class="light" ng-repeat="timeslot in matchup.timeslots | orderBy">
                  {{getTimeslotDisplay(timeslot, true)}}
                </li>
              </ul>
            </div>
            <div class="col s12 occurrences-wrapper" ng-show="getMatchupMode() === 'custom'">
              <div class="occurrences light">{{matchup.occurrences}} occurrences</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>