<div class="section">
  <div class="row">
    <div class="col s12 l4 card-wrapper">
      <div class="card custom">
        <div class="card-content valign-wrapper">
          <div class="content valign">{{event.playersPerMatch}}</div>
        </div>
        <div class="card-action light">Number of players per match</div>
      </div>
    </div>
    <div class="col s12 l4 card-wrapper">
      <div class="card custom">
        <div class="card-content valign-wrapper">
          <div class="content valign">{{event.matchesPerPlayer}}</div>
        </div>
        <div class="card-action light">Number of matches per player</div>
      </div>
    </div>
    <div class="col s12 l4 card-wrapper">
      <div class="card custom">
        <div class="card-content valign-wrapper">
          <div class="content valign">
            {{event.timeslotsPerMatch}}
          </div>
        </div>
        <div class="card-action light">Match duration
          <div>
            <small>number of timeslots per match</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="teams" class="section with-header" ng-show="event.teams">
  <div class="row">
    <div class="header-wrapper center">
      <h4 class="brown-text icon-wrapper">
        <i class="material-icons icon">people</i>
      </h4>
      <h4 class="header">Teams</h4>
    </div>
    <div class="content-wrapper">
      <div class="row lead">
        <div class="col s12 center grey-text light counter">
          <strong>{{event.teams.length}} teams</strong> of {{event.playersPerTeam}} players
        </div>
        <div class="col s12 center grey-text light counter">
          <small>{{event.players.length - event.teams.length * event.playersPerTeam}} players unassigned</small>
        </div>
      </div>
      <div class="row content">
        <div class="col l6 s12 center light item team" ng-repeat="team in event.teams">
          <div class="name grey-text text-darken-1"><strong>{{team.name}}</strong></div>
          <ul class="players collection">
            <li class="li collection-item" ng-repeat="playerIndex in team.players">{{getPlayer(playerIndex).name}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section with-header timetable" ng-show="event.unavailablePlayers || event.playersAtTimeslots">
  <div class="row">
    <div class="header-wrapper center">
      <h4 class="brown-text icon-wrapper">
        <i class="material-icons icon">watch</i>
      </h4>
      <h4 class="header">Players' assigned & unavailable timeslots</h4>
    </div>
    <div class="content-wrapper">
      <div class="row content">
        <table class="responsive-table">
          <thead>
          <tr>
            <th colspan="1"></th>
            <th class="theader" ng-repeat="timeslot in timeslots">{{getTimeslotDisplay($index)}}</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="player in players">
            <td class="theader player">{{player.name}}</td>
            <td ng-repeat="timeslot in timeslots">
              <div class="slot" ng-class="{'unavailable':isPlayerUnavailable($parent.$index, $index),
                              'assigned':isTimeslotAssigned($parent.$index, $index), 'break':isBreak($index)}"></div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="legend">
        <div class="row">
          <div class="col s12 m4 item unavailable">
            <div class="color"></div>
            <small class="light description">Player unavailable at timeslot</small>
          </div>
          <div class="col s12 m4 item assigned">
            <div class="color"></div>
            <small class="light description">Player assigned to timeslot</small>
          </div>
          <div class="col s12 m4 item break">
            <div class="color"></div>
            <small class="light description">Break</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section with-header timetable" ng-show="event.unavailableLocalizations">
  <div class="row">
    <div class="header-wrapper center">
      <h4 class="brown-text icon-wrapper">
        <i class="material-icons icon">location_off</i>
      </h4>
      <h4 class="header">Venues' unavailable timeslots</h4>
    </div>
    <div class="content-wrapper">
      <div class="row content">
        <table class="responsive-table">
          <thead>
          <tr>
            <th colspan="1"></th>
            <th class="theader" ng-repeat="timeslot in timeslots">{{getTimeslotDisplay($index)}}</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="venue in venues">
            <td class="theader other">{{venue.name}}</td>
            <td ng-repeat="timeslot in timeslots">
              <div class="slot"
                   ng-class="{'unavailable':isVenueUnavailable($parent.$index, $index), 'break':isBreak($index)}"></div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="legend">
        <div class="row">
          <div class="col s12 m6 item unavailable">
            <div class="color"></div>
            <small class="light description">Venue unavailable at timeslot</small>
          </div>
          <div class="col s12 m6 item break">
            <div class="color"></div>
            <small class="light description">Break</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section with-header timetable" ng-show="event.playersInLocalizations">
  <div class="row">
    <div class="header-wrapper center">
      <h4 class="brown-text icon-wrapper">
        <i class="material-icons icon">pin_drop</i>
      </h4>
      <h4 class="header">Players' assigned venues</h4>
    </div>
    <div class="content-wrapper">
      <div class="row content">
        <table class="responsive-table">
          <thead>
          <tr>
            <th colspan="1"></th>
            <th class="theader" ng-repeat="venue in venues">{{venue.name}}</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="player in players">
            <td class="theader other">{{player.name}}</td>
            <td ng-repeat="venue in venues">
              <div class="slot"
                   ng-class="{'assigned':isVenueAssigned($parent.$index, $index)}"></div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>