<div class="section with-header timetable schedule">
  <div class="row">
    <div class="header-wrapper center">
      <h4 class="brown-text icon-wrapper">
        <i class="material-icons icon">date_range</i>
      </h4>
      <h4 class="header">{{schedule.name}} Schedule</h4>
    </div>
    <div class="content-wrapper">
      <div class="row content">
        <p class="light center" ng-hide="schedule.scheduleValues">Empty schedule!</p>
        <table class="responsive-table" ng-show="schedule.scheduleValues">
          <thead>
          <tr>
            <th colspan="1"></th>
            <th class="theader" ng-repeat="timeslot in schedule.timeslots">{{getTimeslotDisplay($index)}}</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="venue in schedule.localizations track by $index">
            <td class="theader player"><strong>{{venue.name}}</strong></td>
            <td ng-repeat="timeslot in schedule.timeslots track by $index">
              <div class="slot valign-wrapper"
                   ng-class="{'match':schedule.scheduleValues[$parent.$index][$index].value == 'OCCUPIED',
                     'unavailable':schedule.scheduleValues[$parent.$index][$index].value == 'UNAVAILABLE',
                     'continuation':schedule.scheduleValues[$parent.$index][$index].value == 'CONTINUATION',
                     'limited':schedule.scheduleValues[$parent.$index][$index].value == 'LIMITED'}">
                  <span class="white-text valign slot-value"
                        ng-show="schedule.scheduleValues[$parent.$index][$index].value == 'OCCUPIED'">
                    {{getDisplayablePlayers(schedule, schedule.scheduleValues[$parent.$index][$index].players)}}
                  </span>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="legend">
      <div class="row">
        <div class="col s12 m4 item match">
          <div class="color"></div>
          <small class="light description">Match</small>
        </div>
        <div class="col s12 m4 item continuation">
          <div class="color"></div>
          <small class="light description">Match continuation</small>
        </div>
        <div class="col s12 m4 item unavailable">
          <div class="color"></div>
          <small class="light description">Venue unavailable at timeslot</small>
        </div>
      </div>
      <div class="row">
        <div class="col s12 item limited">
          <div class="color"></div>
          <small class="light description">Venue unavailable at timeslot in some categories</small>
        </div>
      </div>
    </div>
  </div>
</div>