a {
  cursor: pointer;
}

.code {
  font-family: monospace, monospace;
}

.counter {
  font-size: 18px;
}

.counter.matchup-mode {
  font-size: 14px;
}

.counter.matchup-mode .value {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}

.header {
  font-family: 'Montserrat', sans-serif;
}

#banner h1 {
  display: inline-block;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s ease;
}

#banner h1:hover {
  border-bottom: 2px solid #e0e0e0;
}

#banner h5 {
  font-family: 'Brawler', serif;
}

#banner .parallax img {
  bottom: 40px;
}

#lead button {
  margin: 0 10px;
}

.section.with-header .header {
  position: relative;
  margin-top: 0;
}

.section.with-header .icon-wrapper {
  margin-bottom: 0;
}

.section.with-header .header-wrapper {
  padding-top: 30px;
  margin-top: 0;
  margin-bottom: 20px;
  border-bottom: 4px solid #a0a0a0;
}

.section.with-header .material-icons {
  font-size: inherit;
}

.section.with-header .content-wrapper .item {
  padding: 10px 5px;
  font-size: 16px;
  border-bottom: 1px solid #fafafa;
}

#timeslots .collection-wrapper {
  margin-top: 30px;
}

#timeslots .collection {
  max-width: 600px;
  margin: 0 auto;
  border-radius: 7px;
}

#timeslots .collection .row {
  width: 100%;
  margin-bottom: 0;
}

#timeslots .order {
  font-size: 18px;
  line-height: 42px;
  color: #fff;
  background-color: #999;
  text-align: center;
}

#timeslots .timeslot-content {
  margin-left: 20px;
}

#timeslots .title {
  display: inline-block;
}

#timeslots .start .title {
  font-size: 20px;
  border-bottom: 1px solid #d32f2f;
}

#timeslots .duration .title {
  border-bottom: 1px solid #1976d2;
}

#json .modal-content {
  position: relative;
}

#json .header {
  text-transform: uppercase;
  font-size: 1.2rem;
}

#event .card-wrapper {
  padding: 0 20px;
  margin-bottom: 20px;
}

.card.custom {
  text-align: center;
}

.card.custom .card-content {
  background-color: #ef9a9a;
  color: #fff;
  font-size: 42px;
  font-family: 'Montserrat', sans-serif;
  height: 150px;
}

.card.custom .card-content .content {
  width: 100%;
}

.card.custom .card-action {
  font-size: 18px;
}

#main-content .container {
  width: 80%;
}

#teams .team {
  padding: 0 40px;
  margin-top: 10px;
}

.section .content-wrapper .lead {
  margin-bottom: 25px;
}

#timeslots .collection .break {
  background-color: #eee;
}

.table-of-contents {
  margin-right: 10px;
}

.table-of-contents .divider {
  height: 0;
  width: 75%;
  margin: 0 auto;
  background-color: transparent;
  border-bottom: 2px solid #eee;
}

.timetable .header {
  font-size: 28px;
}

.timetable .theader {
  font-size: 14px;
}

.timetable .theader.other {
  padding-left: 15px;
}

.timetable td {
  border-radius: 0;
  padding: 10px 5px;
}

.timetable td .slot {
  min-height: 32px;
  border-radius: 5px;
}

.timetable .content .assigned {
  background-color: #81c784;
}

.timetable .content .unavailable {
  background-color: #ef5350;
}

.timetable .content .break {
  background-color: #757575;
}

.legend {
  width: 100px;
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
}

.timetable .legend {
  width: 400px;
}

.legend .item {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.legend .item .color {
  display: inline-block;
  width: 15px;
  height: 15px;
}

.legend .item.break .color {
  background-color: #eee;
  border: 1px solid #e0e0e0;
}

.timetable .legend .item.break .color {
  background-color: #757575;
  border: 1px solid #6a6a6a;
}

.legend .item.unavailable .color {
  background-color: #ef5350;
  border: 1px solid #ef5350;
}

.legend .item.assigned .color {
  background-color: #81c784;
  border: 1px solid #81c784;
}

.legend .item .description {
  position: absolute;
  margin-left: 5px;
}

#matchups .matchups-wrapper {
  margin-top: 25px;
}

#matchups .matchup .subtitle,
#matchups .matchup .comment {
  text-transform: uppercase;
}

#matchups .matchup .subtitle {
  font-size: 20px;
}

#matchups .matchup .comment {
  font-size: 12px;
}

#matchups .matchup .title-wrapper {
  color: #fff;
  padding: 15px 10px;
  border-radius: 10px 10px 0 0;
}

#matchups .matchup .title-wrapper .title {
  margin-bottom: 0;
}

#matchups .matchups-wrapper .content {
  margin: 0 0 35px 0;
  padding-top: 10px;
}

#matchups .matchups-wrapper .content .occurrences-wrapper {
  background-color: #dadce8;
  padding: 10px 0;
}

#matchups .matchups-wrapper .content .occurrences-wrapper .occurrences {
  font-size: 13px;
}

.form-container {
  width: 50%;
  margin: 60px auto;
  padding: 50px;
  border-radius: 10px;
}

@media (max-width: 1200px) {
  .container {
    width: 70%;
  }
}

@media (max-width: 993px) {
  .container {
    width: 85%;
  }
}

.inline-button {
  position: absolute;
  right: 20px;
  top: 0;
}

form .chip {
  margin: 5px;
  cursor: pointer;
}

form .domain {
  border-bottom: 2px solid #dadada;
  margin-bottom: 40px;
  padding-bottom: 40px;
}

.button-container {
  margin-top: 40px;
  margin-bottom: 20px;
}

.select {
  margin-top: 15px;
}