<div id="lead" class="section amber lighten-2">
  <div class="row">
    <h2 class="header center amber-text text-lighten-4">New tournament</h2>
  </div>
</div>

<div class="container form-container z-depth-2 grey lighten-4">
  <div class="row">
    <form class="col s12">
      <div class="row" style="margin-bottom: 35px">
        <div class="input-field col s12">
          <i class="material-icons prefix">translate</i>
          <input id="name" type="text" placeholder="Name your tournament">
          <label class="active" for="name">Name</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="players-per-match" type="number" ng-model="tournament.playersPerMatch" min="1">
          <label class="active" for="players-per-match">Number of players per match</label>
        </div>
        <div class="input-field col s12">
          <input id="matches-per-player" type="number" ng-model="tournament.matchesPerPlayer" min="1">
          <label class="active" for="matches-per-player">Number of matches per player</label>
        </div>
        <div class="input-field col s12">
          <input id="timeslots-per-match" type="number" ng-model="tournament.timeslotsPerMatch" min="1">
          <label class="active" for="timeslots-per-match">Number of timeslots per match</label>
        </div>
      </div>

      <div class="row domain">
        <div class="col s12">
          <h6>Players</h6>
        </div>
        <div class="input-field col s12">
          <input id="player-name" type="text" ng-model="player" autocomplete="off">
          <label for="player-name">Player name</label>
          <button class="btn btn-floating waves-effect orange lighten-1 inline-button" ng-click="addPlayer()">
            <i class="material-icons right">add</i>
          </button>
        </div>
        <div class="col s12">
          <div class="chip" ng-repeat="player in tournament.players track by $index" ng-click="deletePlayer($index)">
            {{player}} <span>&#10005;</span>
          </div>
        </div>
      </div>

      <div class="row domain">
        <div class="col s12">
          <h6>Venues</h6>
        </div>
        <div class="input-field col s12">
          <input id="venue-name" type="text" ng-model="venue" autocomplete="off">
          <label for="venue-name">Venue name</label>
          <button class="btn btn-floating waves-effect orange lighten-1 inline-button" ng-click="addVenue()">
            <i class="material-icons right">add</i>
          </button>
        </div>
        <div class="col s12">
          <div class="chip" ng-repeat="venue in tournament.venues track by $index" ng-click="deleteVenue($index)">
            {{venue}} <span>&#10005;</span>
          </div>
        </div>
      </div>

      <div class="row domain">
        <div class="col s12">
          <h6>Timeslots</h6>
        </div>
        <div class="input-field col s12">
          <input type="number" id="chronological-order" ng-model="timeslot.chronologicalOrder" autocomplete="off">
          <label class="active" for="chronological-order">Chronological order</label>
        </div>
        <div class="input-field col s12">
          <div ng-include="'partials/form/start.html'"></div>
        </div>

        <div class="input-field col s12">
          <div ng-include="'partials/form/duration.html'"></div>
        </div>

        <div class="col s12 center button-container">
          <button class="btn waves-effect amber darken-2" ng-click="addTimeslot()">
            <i class="material-icons right">add</i>Add timeslot
          </button>
        </div>
      </div>
    </form>
  </div>
</div>