<input type="checkbox" id="with-start" ng-model="withStart">
<label for="with-start">With start</label>
<div class="input-field col s12" ng-show="withStart">
  <div class="row">
    <div class="col m4 s6">
      <input type="radio" ng-model="startType" value="local-time" id="time-option">
      <label for="time-option">Time</label>
    </div>
    <div class="col m4 s6">
      <input type="radio" ng-model="startType" value="local-date" id="date-option">
      <label for="date-option">Date</label>
    </div>
    <div class="col m4 s6">
      <input type="radio" ng-model="startType" value="local-date-time" id="date-time-option">
      <label for="date-time-option">Date and time</label>
    </div>
    <div class="col m4 s6">
      <input type="radio" ng-model="startType" value="day-of-week" id="day-of-week-option">
      <label for="day-of-week-option">Day of week</label>
    </div>
    <div class="col m4 s6">
      <input type="radio" ng-model="startType" value="day-month" id="month-day-option">
      <label for="month-day-option">Day and month</label>
    </div>
    <div class="col m4 s6">
      <input type="radio" ng-model="startType" value="month" id="month-option">
      <label for="month-option">Month</label>
    </div>
    <div class="col m4 s6">
      <input type="radio" ng-model="startType" value="month-year" id="mont-year-option">
      <label for="mont-year-option">Month and year</label>
    </div>
    <div class="col m4 s6">
      <input type="radio" ng-model="startType" value="year" id="year-option">
      <label for="year-option">Year</label>
    </div>
  </div>

  <div ng-switch="startType" style="padding-top: 20px">

    <div class="row" ng-switch-when="local-time">
      <div class="col s6 input-field">
        <input type="text" id="local-time-hour" ng-model="hour" autocomplete="off">
        <label class="active" for="local-time-hour">Hour</label>
      </div>
      <div class="col s6 input-field">
        <input type="text" id="local-time-minute" ng-model="minute" autocomplete="off">
        <label class="active" for="local-time-minute">Minute</label>
      </div>
    </div>

    <div class="row" ng-switch-when="local-date">
      <div class="col s12 input-field">
        <input type="date" id="local-date" ng-model="date" autocomplete="off">
        <label class="active" for="local-date">Date</label>
      </div>
    </div>

    <div class="row" ng-switch-when="local-date-time">
      <div class="col s12 input-field">
        <input type="date" id="local-date-time-date" ng-model="date" autocomplete="off">
        <label class="active" for="local-date-time-date">Date</label>
      </div>
      <div class="col s6 input-field">
        <input type="text" id="local-date-time-hour" ng-model="hour" autocomplete="off">
        <label class="active" for="local-date-time-hour">Hour</label>
      </div>
      <div class="col s6 input-field">
        <input type="text" id="local-date-time-minute" ng-model="minute" autocomplete="off">
        <label class="active" for="local-date-time-minute">Minute</label>
      </div>
    </div>

    <div class="row" ng-switch-when="day-of-week">
      <div class="col s12">
        <h6 class="light">Day of the week</h6>
      </div>
      <div class="col m4 s6">
        <input type="radio" ng-model="dayOfWeek" value="1" id="monday-option">
        <label for="monday-option">Monday</label>
      </div>
      <div class="col m4 s6">
        <input type="radio" ng-model="dayOfWeek" value="2" id="tuesday-option">
        <label for="tuesday-option">Tuesday</label>
      </div>
      <div class="col m4 s6">
        <input type="radio" ng-model="dayOfWeek" value="3" id="wednesday-option">
        <label for="wednesday-option">Wednesday</label>
      </div>
      <div class="col m4 s6">
        <input type="radio" ng-model="dayOfWeek" value="4" id="thursday-option">
        <label for="thursday-option">Thursday</label>
      </div>
      <div class="col m4 s6">
        <input type="radio" ng-model="dayOfWeek" value="5" id="friday-option">
        <label for="friday-option">Friday</label>
      </div>
      <div class="col m4 s6">
        <input type="radio" ng-model="dayOfWeek" value="6" id="saturday-option">
        <label for="saturday-option">Saturday</label>
      </div>
      <div class="col m4 s6">
        <input type="radio" ng-model="dayOfWeek" value="7" id="sunday-option">
        <label for="sunday-option">Sunday</label>
      </div>
    </div>

    <div class="row" ng-switch-when="month">
      <div class="col s12">
        <h6 class="light">Month</h6>
      </div>
      <div class="col m4 s6">
        <input type="radio" ng-model="month" value="1" id="january-option">
        <label for="january-option">January</label>
      </div>
      <div class="col m4 s6">
        <input type="radio" ng-model="month" value="2" id="february-option">
        <label for="february-option">February</label>
      </div>
      <div class="col m4 s6">
        <input type="radio" ng-model="month" value="3" id="march-option">
        <label for="march-option">March</label>
      </div>
      <div class="col m4 s6">
        <input type="radio" ng-model="month" value="4" id="april-option">
        <label for="april-option">April</label>
      </div>
      <div class="col m4 s6">
        <input type="radio" ng-model="month" value="5" id="may-option">
        <label for="may-option">May</label>
      </div>
      <div class="col m4 s6">
        <input type="radio" ng-model="month" value="6" id="june-option">
        <label for="june-option">June</label>
      </div>
      <div class="col m4 s6">
        <input type="radio" ng-model="month" value="7" id="july-option">
        <label for="july-option">July</label>
      </div>
      <div class="col m4 s6">
        <input type="radio" ng-model="month" value="8" id="august-option">
        <label for="august-option">August</label>
      </div>
      <div class="col m4 s6">
        <input type="radio" ng-model="month" value="9" id="september-option">
        <label for="september-option">September</label>
      </div>
      <div class="col m4 s6">
        <input type="radio" ng-model="month" value="10" id="october-option">
        <label for="october-option">October</label>
      </div>
      <div class="col m4 s6">
        <input type="radio" ng-model="month" value="11" id="november-option">
        <label for="november-option">November</label>
      </div>
      <div class="col m4 s6">
        <input type="radio" ng-model="month" value="12" id="december-option">
        <label for="december-option">December</label>
      </div>
    </div>

    <div class="row" ng-switch-when="day-month">
      <div class="col s12">
        <h6 class="light">Day and month</h6>
      </div>
      <div class="col s12 input-field">
        <input type="number" id="day" ng-model="day" autocomplete="off" min="1" max="31">
        <label class="active" for="day">Day</label>
      </div>
      <div class="col s12">
        <h6 class="light">Month</h6>
      </div>
      <div class="col m4 s6">
        <input type="radio" ng-model="month" value="1" id="january-month-option">
        <label for="january-month-option">January</label>
      </div>
      <div class="col m4 s6">
        <input type="radio" ng-model="month" value="2" id="february-month-option">
        <label for="february-month-option">February</label>
      </div>
      <div class="col m4 s6">
        <input type="radio" ng-model="month" value="3" id="march-month-option">
        <label for="march-month-option">March</label>
      </div>
      <div class="col m4 s6">
        <input type="radio" ng-model="month" value="4" id="april-month-option">
        <label for="april-month-option">April</label>
      </div>
      <div class="col m4 s6">
        <input type="radio" ng-model="month" value="5" id="may-month-option">
        <label for="may-month-option">May</label>
      </div>
      <div class="col m4 s6">
        <input type="radio" ng-model="month" value="6" id="june-month-option">
        <label for="june-month-option">June</label>
      </div>
      <div class="col m4 s6">
        <input type="radio" ng-model="month" value="7" id="july-month-option">
        <label for="july-month-option">July</label>
      </div>
      <div class="col m4 s6">
        <input type="radio" ng-model="month" value="8" id="august-month-option">
        <label for="august-month-option">August</label>
      </div>
      <div class="col m4 s6">
        <input type="radio" ng-model="month" value="9" id="september-month-option">
        <label for="september-month-option">September</label>
      </div>
      <div class="col m4 s6">
        <input type="radio" ng-model="month" value="10" id="october-month-option">
        <label for="october-month-option">October</label>
      </div>
      <div class="col m4 s6">
        <input type="radio" ng-model="month" value="11" id="november-month-option">
        <label for="november-month-option">November</label>
      </div>
      <div class="col m4 s6">
        <input type="radio" ng-model="month" value="12" id="december-month-option">
        <label for="december-month-option">December</label>
      </div>
    </div>

    <div class="row" ng-switch-when="year">
      <div class="col s12">
        <h6 class="light">Year</h6>
      </div>
      <div class="col s12 input-field">
        <input type="number" id="year" ng-model="year" autocomplete="off">
        <label class="active" for="year">Year</label>
      </div>
    </div>

    <div class="row" ng-switch-when="month-year">
      <div class="col s12">
        <h6 class="light">Month and year</h6>
      </div>
      <div class="col s12 input-field">
        <input type="number" id="year-month-year" ng-model="day" autocomplete="off">
        <label class="active" for="year-month-year">Year</label>
      </div>
      <div class="col s12">
        <h6 class="light">Month</h6>
      </div>
      <div class="col m4 s6">
        <input type="radio" ng-model="month" value="1" id="january-month-opt">
        <label for="january-month-opt">January</label>
      </div>
      <div class="col m4 s6">
        <input type="radio" ng-model="month" value="2" id="february-month-opt">
        <label for="february-month-opt">February</label>
      </div>
      <div class="col m4 s6">
        <input type="radio" ng-model="month" value="3" id="march-month-opt">
        <label for="march-month-opt">March</label>
      </div>
      <div class="col m4 s6">
        <input type="radio" ng-model="month" value="4" id="april-month-opt">
        <label for="april-month-opt">April</label>
      </div>
      <div class="col m4 s6">
        <input type="radio" ng-model="month" value="5" id="may-month-opt">
        <label for="may-month-opt">May</label>
      </div>
      <div class="col m4 s6">
        <input type="radio" ng-model="month" value="6" id="june-month-opt">
        <label for="june-month-opt">June</label>
      </div>
      <div class="col m4 s6">
        <input type="radio" ng-model="month" value="7" id="july-month-opt">
        <label for="july-month-opt">July</label>
      </div>
      <div class="col m4 s6">
        <input type="radio" ng-model="month" value="8" id="august-month-opt">
        <label for="august-month-opt">August</label>
      </div>
      <div class="col m4 s6">
        <input type="radio" ng-model="month" value="9" id="september-month-opt">
        <label for="september-month-opt">September</label>
      </div>
      <div class="col m4 s6">
        <input type="radio" ng-model="month" value="10" id="october-month-opt">
        <label for="october-month-opt">October</label>
      </div>
      <div class="col m4 s6">
        <input type="radio" ng-model="month" value="11" id="november-month-opt">
        <label for="november-month-opt">November</label>
      </div>
      <div class="col m4 s6">
        <input type="radio" ng-model="month" value="12" id="december-month-opt">
        <label for="december-month-opt">December</label>
      </div>
    </div>
  </div>
</div>