<div ng-show="withStart">
  <select class="select" ng-options="type.name for type in startTypes.available track by type.value"
          ng-model="startTypes.selected"
          material-select watch></select>

  <div input-field ng-show="startTypes.selected.value == 'LocalDate' || startTypes.selected.value == 'LocalDateTime'">
    <input id="date" type="text" input-date ng-model="form.date">
    <label for="date">Date</label>
  </div>

  <div input-field ng-show="startTypes.selected.value == 'LocalTime' || startTypes.selected.value == 'LocalDateTime'">
    <input id="time" type="text"input-clock data-twelvehour="false" ng-model="form.time" >
    <label for="time">Time</label>
  </div>
</div>